@page
@model TaiRazorPages.Pages.Admin.Ad_Order.DetailsModel
@{
}
@{
    Layout = "_AdminLayout";
}
<h1>Order Detail</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetails[0].OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetails[0].FlowerBouquetId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetails[0].UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetails[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetails[0].Discount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderDetails)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FlowerBouquetId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discount)
                </td>
                <td>

            </tr>
        }
    </tbody>
</table>