@page
@model TaiRazorPages.Pages.Admin.Ad_Order.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Order</h1>
@{
    Layout = "_AdminLayout";
}
@*<p>
    <a asp-page="Create">Create New</a>
</p>*@
@if (!string.IsNullOrEmpty(ViewData["ErrorDateFill"] as string))
{
    <div class="alert alert-danger">
        @ViewData["ErrorDateFill"]
    </div>
}
<form method="post" asp-page-handler="fill">

    <div class="form-group">
        <label for="@Model.StartDate">Start Date:</label>
        <input type="date" class="form-control" asp-for="StartDate" min="2000-01-01" />
        <span asp-validation-for="StartDate" class="text-danger"></span>

    </div>

    <div class="form-group">
        <label for="@Model.EndDate">End Date:</label>
        <input type="date" class="form-control" asp-for="EndDate" min="2000-01-01" />
        <span asp-validation-for="EndDate" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].ShippedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].OrderStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Order) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.OrderId">Edit</a> |
               
                        @* <a asp-page="./Edit" asp-route-id="@item.OrderId">Edit</a> |*@
                    <a asp-page="/Admin/Ad_Order/Details" asp-route-id="@item.OrderId">Order Detail</a> |
                        @*<a asp-page="./Delete" asp-route-id="@item.OrderId">Delete</a>*@
               
                <a asp-page="./Delete" asp-route-id="@item.OrderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
    


@*<form asp-page-handler="view" method="post">
    <button class="btn btn-default">View</button>
    <input type="hidden" name="id" value="3" />
</form>
*@