@page
@model TaiRazorPages.Pages.Admin.Ad_OrderDetail.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail[0].OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail[0].UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail[0].Discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail[0].FlowerBouquet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail[0].Order)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OrderDetail) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderId)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlowerBouquet.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.OrderId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
<form method="post" asp-page-handler="fill">

    <div class="form-group">
        <label asp-for="OrId" class="control-label"></label>
        <select asp-for="OrId" class="form-control" asp-items="ViewBag.OrderId"></select>

    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
