@page
@model TaiRazorPages.Pages.CustomerPage.EditProfileModel
@{
	Layout = "_CustomerLayout";	
}
<h1>edit profile</h1>
@if (TempData.ContainsKey("UpdateSuccess"))
{
	<div class="alert alert-success">@TempData["UpdateSuccess"]</div>
}
@if (TempData.ContainsKey("Updatefail"))
{
	<div class="alert alert-success">@TempData["Updatefail"]</div>
}


<form method="post">
	<@*label asp-for="@Model.CustomerObject.CustomerId">ID:</label>
			 <input type="number" asp-for="@Model.CustomerObject.CustomerId">
			 <span asp-validation-for="@Model.CustomerObject.CustomerId"></span>*@
	@*<br />*@

	<label asp-for="@Model.CustomerObject.Email">Email:</label>
	<input asp-for="@Model.CustomerObject.Email">
	<span asp-validation-for="@Model.CustomerObject.Email"></span>
	<br />

	<label asp-for="@Model.CustomerObject.Password">Password:</label>
	<input asp-for="@Model.CustomerObject.Password">
	<span asp-validation-for="@Model.CustomerObject.Password"></span>
	<br />
	<label asp-for="@Model.CustomerObject.CustomerName">Name:</label>
	<input asp-for="@Model.CustomerObject.CustomerName">
	<span asp-validation-for="@Model.CustomerObject.CustomerName"></span>

	<br />

	<label asp-for="@Model.CustomerObject.City">City:</label>
	<input asp-for="@Model.CustomerObject.City">
	<span asp-validation-for="@Model.CustomerObject.City"></span>
	<br />

	<label asp-for="@Model.CustomerObject.Country">Country:</label>
	<input asp-for="@Model.CustomerObject.Country">
	<span asp-validation-for="@Model.CustomerObject.Country"></span>
	<br />
	<label asp-for="@Model.CustomerObject.Birthday">Birth:</label>
	<input asp-for="@Model.CustomerObject.Birthday">
	<span asp-validation-for="@Model.CustomerObject.Birthday"></span>
	<br />
	<button type="submit" class="btn btn-primary">Update</button>
</form>